.primary {
  width: 12vw;
  height: 3vw;
  background-color: #606369;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
}

.primary:hover {
  background-color: #44567a;
}

.secondary {
  width: 12vw;
  height: 3vw;
  background-color: #44567a;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
}

.secondary:hover {
  background-color: #606369;
}