@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

#root {
  background-color: #606369;
  padding: 5px;
  display: grid;
  grid-gap: 0.1rem;
  grid-template-areas:
    "header header header header"
    "menu menu menu menu"
    "aside main main main"
    "footer footer footer footer";
  grid-template-rows: 80px 80px calc(100vh - 250px) 80px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: 'Fira Sans', sans-serif;
  
}

.grid {
  display: flex;
  border-radius: 10px;
  background-color: #171719;
  justify-content: center;
  align-items: center;
  color: white;
}

.grid-header {
  grid-area: header;
}

.grid-menu {
  grid-area: menu;
}

.grid-aside {
  grid-area: aside;
}

.grid-main {
  grid-area: main;
  flex-direction: column;
}

.grid-footer {
  grid-area: footer;
}

.primary {
  width: 12vw;
  height: 3vw;
  background-color: #606369;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
}

.primary:hover {
  background-color: #44567a;
}

.secondary {
  width: 12vw;
  height: 3vw;
  background-color: #44567a;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
}

.secondary:hover {
  background-color: #606369;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 10px 50px;
}

p {
  padding: 50px;
}

article {
  margin: 30px 60px;
}

section {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}